<div class="widgets">
 <div class="row">
  <div class="col-md-12">
  <div ba-panel ba-panel-title="密度分布" ba-panel-class="with-scroll" class="panel-primary"> 
    <div class="horizontal-scroll">
     <div class="panel panel-success">
      <div class="panel-body panel-success">
       <div class="row">请输入查询时间范围 :</div><br>
       <div class="row"></div>
       <div class="row">
        <div class="">
         <form class="form-inline" role="form">
          <div class="form-group">
           <input type="text" class="form-control" style="width: 200px" placeholder="请输入起始时间" name="" ng-model="filters.startDate">&nbsp--&nbsp<input type="text" style="width: 200px" class="form-control" placeholder="请输入终止时间" name="" ng-model="filters.endDate">
           &nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" style="width: 200px" class="form-control" placeholder="请输入公司名称" name="" ng-model="filters.companyName">
          </div>
          <button ng-click="showTable()" style="margin-left: 10px" type="button" class="btn btn-primary" id="midu">显示密度分布</button>
          </div>
         </form>

<div style="margin-top: 20px;">
                  <ng-echarts style="width:100%; height: 800px;" class="col-md-6 echarts" ec-option="mapOption" ec-config="mapConfig"></ng-echarts>
                </div>
         
        </div> 
       </div>
      </div>
     </div>
     </div>

  






