{
  "swagger": "2.0",
  "info": {
    "title": "NovaData销售线索推荐服务API",
    "description": "销售线索推荐服务",
    "version": "2.3.0"
  },
  "host": "api.novadata.io",
  "schemes": [
    "https"
  ],
  "basePath": "/v2",
  "produces": [
    "application/json"
  ],

  "paths": {
    "/auth/register":{
            "post": {
              "summary": "用户注册并生成KeyPair",
              "description":"注册成功后返回KeyPair, KeyPair中包含client_id",
              "parameters": [
                {
                  "name": "client_name",
                  "in": "query",
                  "description": "企业名称",
                  "required": true,
                  "type": "string"
                }
              ],
              "tags": [
                "授权"
              ],
              "responses": {
                "200": {
                  "description": "服务器正常返回",
                  "schema": {
                    "$ref": "#/definitions/KeyPair"
                  }
                },
                "400": {
                  "description": "错误的资源请求",
                  "schema": {
                    "$ref": "#/definitions/Error"
                  }
                },
                "401": {
                  "description": "资源授权错误",
                  "schema": {
                    "$ref": "#/definitions/Error"
                  }
                },
                "403": {
                  "description": "禁止访问资源",
                  "schema": {
                    "$ref": "#/definitions/Error"
                  }
                },
                "404": {
                  "description": "未找到对应的资源",
                  "schema": {
                    "$ref": "#/definitions/Error"
                  }
                },
                "500": {
                  "description": "服务内部错误",
                  "schema": {
                    "$ref": "#/definitions/Error"
                  }
                }
              }
            }
    },
    "/auth/{client_id}": {
      "get": {
        "summary": "获取用户的所有密钥对",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "客户端编号",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "授权"
        ],
        "responses": {
          "200": {
            "description": "服务器正常返回",
            "schema": {
              "type": "array",
              "description": "为了安全,KeyPair中不包含secretKey",
              "items": {
                "$ref": "#/definitions/KeyPair"
              }
            }
          },
          "400": {
            "description": "错误的资源请求",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "资源授权错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "禁止访问资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "未找到对应的资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "服务内部错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "生成密钥对(已废弃,Since V2.3.0)",
        "deprecated":true,
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "客户端编号",
            "required": true,
            "type": "string"
          },
          {
            "name": "expire_date",
            "in": "query",
            "description": "密钥过期日期,默认为1年后",
            "required": false,
            "type": "string",
            "format": "yyMM"
          }
        ],
        "tags": [
          "授权"
        ],
        "responses": {
          "200": {
            "description": "服务器正常返回",
            "schema": {
              "$ref": "#/definitions/KeyPair"
            }
          },
          "400": {
            "description": "错误的资源请求",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "资源授权错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "禁止访问资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "未找到对应的资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "服务内部错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }

    },
    "/auth/{client_id}/{access_key}": {
      "delete": {
        "summary": "删除用户的密钥对",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "客户端编号",
            "required": true,
            "type": "string"
          },
          {
            "name": "access_key",
            "in": "path",
            "description": "客户端access Key",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "授权"
        ],
        "responses": {
          "200": {
            "description": "服务器正常返回"
          },
          "400": {
            "description": "错误的资源请求",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "资源授权错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "禁止访问资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "未找到对应的资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "服务内部错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/customers": {
      "post": {
        "summary": "上传新增的客户数据",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customers",
            "in": "body",
            "description": "客户信息.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Customer"
              }
            }
          },
          {
            "$ref": "#/parameters/accessKeyIdParam"
          },
          {
            "$ref": "#/parameters/signatureVersionParam"
          },
          {
            "$ref": "#/parameters/signatureParam"
          }
        ],
        "tags": [
          "客户"
        ],
        "responses": {
          "200": {
            "description": "服务器正常返回"
          },
          "400": {
            "description": "错误的资源请求",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "资源授权错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "禁止访问资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "未找到对应的资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "服务内部错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "put": {
        "summary": "更新已有的客户数据",
        "description": "更新已有客户数据.\n",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "客户id.",
            "required": true,
            "type": "number",
            "format": "int32"
          },
          {
            "name": "customer",
            "in": "body",
            "description": "新的客户信息",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          },
          {
            "$ref": "#/parameters/accessKeyIdParam"
          },
          {
            "$ref": "#/parameters/signatureVersionParam"
          },
          {
            "$ref": "#/parameters/signatureParam"
          }
        ],
        "tags": [
          "客户"
        ],
        "responses": {
          "200": {
            "description": "成功"
          },
          "400": {
            "description": "错误的资源请求",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "资源授权错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "禁止访问资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "未找到对应的资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "服务内部错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/leads/{lead_id}": {
      "get": {
        "summary": "获取销售线索的详情",
        "description": "获取销售线索详情.",
        "parameters": [
          {
            "name": "lead_id",
            "in": "path",
            "description": "线索Id.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/accessKeyIdParam"
          },
          {
            "$ref": "#/parameters/signatureVersionParam"
          },
          {
            "$ref": "#/parameters/signatureParam"
          }
        ],
        "tags": [
          "销售线索"
        ],
        "responses": {
          "200": {
            "description": "销售线索详情",
            "schema": {
              "$ref": "#/definitions/Lead"
            }
          },
          "400": {
            "description": "错误的资源请求",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "资源授权错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "禁止访问资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "未找到对应的资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "服务内部错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/leads/{client_id}/recommends": {
      "get": {
        "summary": "获取推荐的销售线索列表",
        "description": "获取推荐的销售线索列表",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "客户端id",
            "required": true,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "行业 ",
            "required": false,
            "type": "string"
          },
          {
            "name": "province",
            "in": "query",
            "description": "省份",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "description": "城市",
            "required": false,
            "type": "string"
          },
          {
            "name": "company_name",
            "in": "query",
            "description": "公司名称,模糊匹配",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "当前位置的经度",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "当前位置的纬度",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "min_dis",
            "in": "query",
            "description": "按距离排序时的最小距离限制",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "排序方式: near代表按距离由近及远排序, rate代表按推荐分数由高到低排序, 默认rate",
            "default": "rate",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "起始位置, 默认:`0`",
            "required": false,
            "type": "number",
            "format": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "数据条数, 默认:`20`",
            "required": false,
            "type": "number",
            "format": "integer",
            "default": 20,
            "maximum": 50
          },
          {
            "$ref": "#/parameters/accessKeyIdParam"
          },
          {
            "$ref": "#/parameters/signatureVersionParam"
          },
          {
            "$ref": "#/parameters/signatureParam"
          }
        ],
        "tags": [
          "销售线索"
        ],
        "responses": {
          "200": {
            "description": "销售线索的列表数据",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Recommend"
              }
            }
          },
          "400": {
            "description": "错误的资源请求",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "资源授权错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "禁止访问资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "未找到对应的资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "服务内部错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/leads/{client_id}/omnibox": {
      "get": {
        "summary": "根据keyword对线索的多个字段进行通用查询",
        "description": "查询关键字,可以是:公司名称,法人,地址,经营范围中的任意关键字",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "客户端id",
            "required": true,
            "type": "string"
          },

          {
            "name": "keyword",
            "in": "query",
            "description": "查询关键字,模糊匹配,可以是:公司名称,法人,地址,经营范围中的任意关键字",
            "required": true,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "当前位置的经度",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "当前位置的纬度",
            "required": false,
            "type": "number",
            "format": "double"
          },

          {
            "name": "sort_by",
            "in": "query",
            "description": "排序方式.near代表按距离由近及远排序, rate代表按推荐分数由高到低排序, 默认near",
            "default": "rate",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "起始位置, 默认:`0`",
            "required": false,
            "type": "number",
            "format": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "数据条数, 默认:`20`",
            "required": false,
            "type": "number",
            "format": "integer",
            "default": 20,
            "maximum": 50
          },
          {
            "$ref": "#/parameters/accessKeyIdParam"
          },
          {
            "$ref": "#/parameters/signatureVersionParam"
          },
          {
            "$ref": "#/parameters/signatureParam"
          }
        ],
        "tags": [
          "销售线索"
        ],
        "responses": {
          "200": {
            "description": "销售线索的列表数据",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Recommend"
              }
            }
          },
          "400": {
            "description": "错误的资源请求",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "资源授权错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "禁止访问资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "未找到对应的资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "服务内部错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/leads/{lead_id}/tags": {
      "post": {
        "summary": "标记线索是否有用",
        "description": "标记线索是否有用等.",
        "parameters": [
          {
            "name": "lead_id",
            "in": "path",
            "description": "线索Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "标签.",
            "required": true,
            "enum": [
              "useful",
              "useless"
            ],
            "type": "string",
            "default": "useless"
          },
          {
            "$ref": "#/parameters/accessKeyIdParam"
          },
          {
            "$ref": "#/parameters/signatureVersionParam"
          },
          {
            "$ref": "#/parameters/signatureParam"
          }
        ],
        "tags": [
          "销售线索"
        ],
        "responses": {
          "200": {
            "description": "操作成功"
          },
          "400": {
            "description": "错误的资源请求",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "资源授权错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "禁止访问资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "未找到对应的资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "服务内部错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/leads/suggests/{company_name}": {
      "get": {
        "summary": "模糊查询线索企业名称",
        "description": "模糊查询线索企业名称，可用于公司名称进行自动建议与补全",
        "parameters": [
          {
            "name": "company_name",
            "in": "path",
            "description": "公司名称,模糊匹配",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/accessKeyIdParam"
          },
          {
            "$ref": "#/parameters/signatureVersionParam"
          },
          {
            "$ref": "#/parameters/signatureParam"
          }
        ],
        "tags": [
          "销售线索"
        ],
        "responses": {
          "200": {
            "description": "公司名的列表数据",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Suggestion"
              }
            }
          },
          "400": {
            "description": "错误的资源请求",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "资源授权错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "禁止访问资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "未找到对应的资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "服务内部错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/leads/dict/category": {
      "get": {
        "summary": "获取行业字典数据",
        "description": "获取线索企业所属行业的字典数据，目前的行业字典不是国家标准",
        "parameters": [
          {
            "$ref": "#/parameters/accessKeyIdParam"
          },
          {
            "$ref": "#/parameters/signatureVersionParam"
          },
          {
            "$ref": "#/parameters/signatureParam"
          }
        ],
        "tags": [
          "销售线索"
        ],
        "responses": {
          "200": {
            "description": "行业分类的列表数据",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "错误的资源请求",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "资源授权错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "禁止访问资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "未找到对应的资源",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "服务内部错误",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Customer": {
      "type": "object",
      "properties": {       
        "clientId": {
          "type": "string",
          "description": "client/用户 id"
        },
        "customerId": {
          "type": "string",
          "description": "客户 id."
        },
        "name": {
          "type": "string",
          "description": "客户名称."
        },
        "phone": {
          "type": "string",
          "description": "联系电话."
        },
        "type": {
          "type": "string",
          "description": "客户类型."
        },
        "opscope": {
          "type": "string",
          "description": "经营范围."
        },
        "rating": {
          "type": "number",
          "format": "double",
          "description": "客户价值.",
          "minimum": 1,
          "maximum": 5
        },
        "address": {
          "type": "string",
          "description": "客户地址."
        },
        "province": {
          "type": "string",
          "description": "省份."
        },
        "city": {
          "type": "string",
          "description": "城市."
        },
        "category": {
          "type": "string",
          "description": "行业."
        },
        "registerDate": {
          "type": "string",
          "description": "工商注册日期"
        },
        "capital": {
          "type": "number",
          "format": "double",
          "description": "注册资本(万元)"
        },        
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "经度."
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "纬度."
        },
        "extend": {
          "type": "string",
          "description": "其他信息, json格式"
        }
      },
      "required": [
        "customerId",
        "name",
        "rating"
      ]
    },
    "Lead": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "对象id"
        },
        "companyName": {
          "type": "string",
          "description": "线索企业名称"
        },
        "regNo": {
          "type": "string",
          "description": "线索企业工商注册号."
        },
        "contact": {
          "type": "string",
          "description": "联系人姓名."
        },
        "title": {
          "type": "string",
          "description": "联系人职位"
        },
        "phone": {
          "type": "string",
          "description": "联系人电话."
        },
        "legalPerson": {
          "type": "string",
          "description": "企业法人"
        },
        "entTel": {
          "type": "string",
          "description": "企业电话."
        },
        "opscope": {
          "type": "string",
          "description": "经营范围."
        },
        "dom": {
          "type": "string",
          "description": "地址."
        },
        "province": {
          "type": "string",
          "description": "省份."
        },
        "city": {
          "type": "string",
          "description": "城市."
        },
        "category": {
          "type": "string",
          "description": "行业."
        },
        "registerDate": {
          "type": "number",
          "format": "long",
          "description": "工商注册日期, 时间戳方式，表示了从epoch开始的毫秒数"
        },
        "opbegin": {
          "type": "number",
          "format": "long",
          "description": "企业运营开始日期, 时间戳方式，表示了从epoch开始的毫秒数"
        },
        "website": {
          "type": "string",
          "description": "企业网站."
        },
        "regStatus": {
          "type": "string",
          "description": "工商登记状态."
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "经度."
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "纬度."
        },
        "dis": {
          "type": "number",
          "format": "long",
          "description": "距离,单位为米"
        }
      },
      "required": [
        "companyName"
      ]
    },
    "Recommend": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "用户id"
        },
        "leadId": {
          "type": "string",
          "description": "线索id"
        },
        "lead": {
          "$ref": "#/definitions/Lead"
        },
        "rating": {
          "type": "number",
          "format": "double",
          "description": "线索评分"
        }
      }
    },
    "KeyPair": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "对象id"
        },
        "clientId": {
          "type": "string",
          "description": "用户id"
        },
        "clientName": {
          "type": "string",
          "description": "用户名"
        },
        "secretKey": {
          "type": "string"
        },
        "accessKey": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "default": true
        },
        "createDate": {
          "type": "string",
          "format": "date"
        },
        "expireDate": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "Suggestion": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "线索企业id"
        },
        "companyName": {
          "type": "string",
          "description": "线索企业名称"
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "参见 `ErrorCode` 中的定义"
        },
        "message": {
          "type": "string",
          "description": "错误描述"
        },
        "detail": {
          "type": "string",
          "description": "错误的详细信息"
        }
      }
    }
  },
  "parameters": {
    "accessKeyIdParam": {
      "name": "access_key_id",
      "in": "query",
      "description": "访问密钥",
      "required": true,
      "type": "string"
    },
    "signatureVersionParam": {
      "name": "signature_version",
      "in": "query",
      "description": "签名函数的版本号,目前只支持版本号为 `1`,签名所用哈希算法为HmacSHA256",
      "required": true,
      "type": "number",
      "format": "int32",
      "default": 1
    },
    "signatureParam": {
      "name": "signature",
      "in": "query",
      "description": "请求消息的签名",
      "required": true,
      "type": "string"
    }
  }
}