<div ng-controller="submitCtrl">
<div class="form-group">
    <select class="form-control" title="企业类型"
            ng-model="select"
            ng-options="item.label for item in select">
    </select>
</div>
<form name="submitForm">
    <div class="form-group">
    <label for="input01">企业名称</label>
    <input type="text" required class="form-control" id="input01"  name="name" placeholder="Text" ng-model="user.name">
        <div class="error" ng-show="submitForm.name.$dirty&&submitForm.name.$invalid">
        <small class="error" ng-show="submitForm.name.$error.required">必填项</small>
        </div>
    </div>
    <div class="form-group">
        <label for="input01">社会信用码</label>
        <input type="text" required class="form-control" id="input02" placeholder="Text" ng-model="user.credit">
    </div>
    <div class="form-group">
        <label for="input01">厂商代码</label>
        <input type="text"  ng-disabled="select.able" required class="form-control" id="input03" placeholder="Text" ng-model="user.id">
    </div>
    <div class="form-group">
        <label for="input01">联系人</label>
        <input type="text" required class="form-control" id="input04" placeholder="Text" ng-model="user.contact">
    </div>
    <div class="form-group">
        <label for="input01">联系电话</label>
        <input type="text" required class="form-control" id="input05" placeholder="Text" ng-model="user.tel">
    </div>
    <div class="form-group">
        <label for="input01">邮箱</label>
        <input type="email"  required class="form-control" name="email" id="input06" placeholder="Text" ng-model="user.email">

    </div><br>
    <div class="button-wrapper"><button ng-click="processForm()" type="button" class="btn btn-default">Default</button></div>
    <input type="file">
    <pre>{{user}}</pre>
</form>
</div>